*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding-top: 23px;
    align-items: center;
    justify-content: space-around;

}

.header >button{
    width: 150px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: #E8EFF2;
    color: #162542;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.first >h1{ display: flex;
    color: #162542;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    padding-left: 45px;
    padding-top: 70px;
}

.first >p{
    color: #7B8BAD;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-left: 45px;
    padding-top: 32px;
}

.two_btns{
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
}

.first_btn{
    width: 150px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: #F16718;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.scnd_btn{
    color: #7B8BAD;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    border: none;
}

.mdl{
    display: flex;
}

.mdl >img{
    padding-left: 24px;
    border-top-left-radius: 20px;
    padding-top: 30px;
}

.grayy{
    background-color: #E8EFF2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 120px; 
    height: 180px;
    display: none;

}

.grayy2{
    background-color: #E8EFF2;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 120px; 
    height: 180px;
    display: none;
}

.two_img{
    display: flex;
    gap: 30px;
    padding-top: 10px;
}

.mdl_first_img{
    width: 144px;
    height: 226px;
}

.mdl_scnd_img{
    width: 440px;
    height: 270px;
}

.mechanical >h1 {
    color: #162542;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 36px;
}

.mechanical >p{
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
    padding-left: 50px;
}

.justone >img{
    padding-left: 155px;
    padding-top: 111px;
}
.justtwo >img{
    padding-left: 155px;
    padding-top: 111px;
}

.justthree >img{
    padding-left: 155px;
    padding-top: 111px;
}

.justfour >img{
    padding-left: 155px;
    padding-top: 111px;
}

.justone >h1{
    color: #162542;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 28px;
    padding-top: 48px;
}

.justtwo >h1{
    color: #162542;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 28px;
    padding-top: 48px;
}

.justthree >h1{
    color: #162542;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 28px;
    padding-top: 48px;
}

.justfour >h1{
    color: #162542;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 28px;
    padding-top: 48px;
}

.justone >p{
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
    padding-left: 24px;
}

.justtwo >p{
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
    padding-left: 24px;
}

.justthree >p{
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
    padding-left: 24px;
}

.justfour >p{
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
    padding-left: 24px;
}


.lastone{
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 50px;
    color: #7B8BAD;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.span{
    color: #7B8BAD;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}


